In [2]:
import numpy as np
print(np.__version__)

1.18.1

l1=[1,2,3,4,5]
type(l1)

In [70]:
print(type(l1))

<class 'list'>

In [17]:
l1=[1,2,3,4,5,6,7,8]
print(type(l1))

<class 'list'>

In [18]:
l2=list(map(lambda x:x*x, l1))

In [19]:
print(l2)

[1, 4, 9, 16, 25, 36, 49, 64]

In [20]:
x=np.array(l2)

In [21]:
print(x)

[ 1  4  9 16 25 36 49 64]

In [22]:
print(type(x))

<class 'numpy.ndarray'>

In [23]:
print(x.shape)

(8,)

In [24]:
print(x.ndim)

1

In [30]:
x=x.reshape(4,2)
print (x)

[[ 1  4]
 [ 9 16]
 [25 36]
 [49 64]]

In [31]:
print(x.ndim)

2

In [37]:
y=np.arange(10,dtype=float)

In [39]:
print(y)
print(y.ndim)
print(y.dtype)

[0. 1. 2. 3. 4. 5. 6. 7. 8. 9.]
1
float64

In [40]:
a=np.arange(5)
b=np.arange(5)
print(a,b)

[0 1 2 3 4] [0 1 2 3 4]

In [41]:
print(a+b)

[0 2 4 6 8]

In [42]:
print(a-b)

[0 0 0 0 0]

In [43]:
print(np.sin(b))
print(np.cos(a))

[ 0.          0.84147098  0.90929743  0.14112001 -0.7568025 ]
[ 1.          0.54030231 -0.41614684 -0.9899925  -0.65364362]

In [44]:
print(a>b)

[False False False False False]

In [77]:
import pandas as pd
name=['color','color_name','hex','R','B','G']
df=pd.read_csv('C:/Users/SATYAJIT/Desktop/colors/colors.csv',names=name)

In [78]:
print(df)

                    color             color_name      hex    R    B    G
0      air_force_blue_raf   Air Force Blue (Raf)  #5d8aa8   93  138  168
1     air_force_blue_usaf  Air Force Blue (Usaf)  #00308f    0   48  143
2    air_superiority_blue   Air Superiority Blue  #72a0c1  114  160  193
3         alabama_crimson        Alabama Crimson  #a32638  163   38   56
4              alice_blue             Alice Blue  #f0f8ff  240  248  255
..                    ...                    ...      ...  ...  ...  ...
860         yellow_orange          Yellow Orange  #ffae42  255  174   66
861        yellow_process       Yellow (Process)  #ffef00  255  239    0
862            yellow_ryb           Yellow (Ryb)  #fefe33  254  254   51
863                zaffre                 Zaffre  #0014a8    0   20  168
864     zinnwaldite_brown      Zinnwaldite Brown  #2c1608   44   22    8

[865 rows x 6 columns]

In [79]:
print(type(df))

<class 'pandas.core.frame.DataFrame'>

In [80]:
print(df.describe())

                R           B           G
count  865.000000  865.000000  865.000000
mean   158.598844  124.683237  119.087861
std     85.338432   76.270225   78.343862
min      0.000000    0.000000    0.000000
25%    101.000000   64.000000   53.000000
50%    178.000000  123.000000  119.000000
75%    236.000000  190.000000  186.000000
max    255.000000  255.000000  255.000000

In [81]:
print(df.ndim)

2

In [82]:
print(df.shape)

(865, 6)

In [83]:
print(df.columns)

Index(['color', 'color_name', 'hex', 'R', 'B', 'G'], dtype='object')

In [84]:
print(df.index)

RangeIndex(start=0, stop=865, step=1)

In [85]:
df.dtypes

color         object
color_name    object
hex           object
R              int64
B              int64
G              int64
dtype: object

In [86]:
df.head(15)

                   color             color_name      hex    R    B    G
0     air_force_blue_raf   Air Force Blue (Raf)  #5d8aa8   93  138  168
1    air_force_blue_usaf  Air Force Blue (Usaf)  #00308f    0   48  143
2   air_superiority_blue   Air Superiority Blue  #72a0c1  114  160  193
3        alabama_crimson        Alabama Crimson  #a32638  163   38   56
4             alice_blue             Alice Blue  #f0f8ff  240  248  255
5       alizarin_crimson       Alizarin Crimson  #e32636  227   38   54
6           alloy_orange           Alloy Orange  #c46210  196   98   16
7                 almond                 Almond  #efdecd  239  222  205
8               amaranth               Amaranth  #e52b50  229   43   80
9                  amber                  Amber  #ffbf00  255  191    0
10         amber_sae_ece        Amber (Sae/Ece)  #ff7e00  255  126    0
11         american_rose          American Rose  #ff033e  255    3   62
12              amethyst               Amethyst     #96c  153  102  204
13         android_green          Android Green  #a4c639  164  198   57
14      anti_flash_white       Anti-Flash White  #f2f3f4  242  243  244

In [87]:
df.tail()

                 color         color_name      hex    R    B    G
860      yellow_orange      Yellow Orange  #ffae42  255  174   66
861     yellow_process   Yellow (Process)  #ffef00  255  239    0
862         yellow_ryb       Yellow (Ryb)  #fefe33  254  254   51
863             zaffre             Zaffre  #0014a8    0   20  168
864  zinnwaldite_brown  Zinnwaldite Brown  #2c1608   44   22    8

In [88]:
df.sample()

    color color_name      hex    R    B    G
7  almond     Almond  #efdecd  239  222  205

In [89]:
df.iloc[10]

color           amber_sae_ece
color_name    Amber (Sae/Ece)
hex                   #ff7e00
R                         255
B                         126
G                           0
Name: 10, dtype: object

In [90]:
df.iloc[0:5]

                  color             color_name      hex    R    B    G
0    air_force_blue_raf   Air Force Blue (Raf)  #5d8aa8   93  138  168
1   air_force_blue_usaf  Air Force Blue (Usaf)  #00308f    0   48  143
2  air_superiority_blue   Air Superiority Blue  #72a0c1  114  160  193
3       alabama_crimson        Alabama Crimson  #a32638  163   38   56
4            alice_blue             Alice Blue  #f0f8ff  240  248  255

In [92]:
df['color']

0        air_force_blue_raf
1       air_force_blue_usaf
2      air_superiority_blue
3           alabama_crimson
4                alice_blue
               ...
860           yellow_orange
861          yellow_process
862              yellow_ryb
863                  zaffre
864       zinnwaldite_brown
Name: color, Length: 865, dtype: object

In [93]:
df.iloc[10:15,0:5]

               color        color_name      hex    R    B
10     amber_sae_ece   Amber (Sae/Ece)  #ff7e00  255  126
11     american_rose     American Rose  #ff033e  255    3
12          amethyst          Amethyst     #96c  153  102
13     android_green     Android Green  #a4c639  164  198
14  anti_flash_white  Anti-Flash White  #f2f3f4  242  243

In [94]:
df.loc[0:5,'color_name']

0     Air Force Blue (Raf)
1    Air Force Blue (Usaf)
2     Air Superiority Blue
3          Alabama Crimson
4               Alice Blue
5         Alizarin Crimson
Name: color_name, dtype: object

In [95]:
df.loc[0:5,['color_name','hex']]

              color_name      hex
0   Air Force Blue (Raf)  #5d8aa8
1  Air Force Blue (Usaf)  #00308f
2   Air Superiority Blue  #72a0c1
3        Alabama Crimson  #a32638
4             Alice Blue  #f0f8ff
5       Alizarin Crimson  #e32636

In [96]:
df['color_name'].unique()

array(['Air Force Blue (Raf)', 'Air Force Blue (Usaf)',
       'Air Superiority Blue', 'Alabama Crimson', 'Alice Blue',
       'Alizarin Crimson', 'Alloy Orange', 'Almond', 'Amaranth', 'Amber',
       'Amber (Sae/Ece)', 'American Rose', 'Amethyst', 'Android Green',
       'Anti-Flash White', 'Antique Brass', 'Antique Fuchsia',
       'Antique Ruby', 'Antique White', 'Ao (English)', 'Apple Green',
       'Apricot', 'Aqua', 'Aquamarine', 'Army Green', 'Arsenic',
       'Arylide Yellow', 'Ash Grey', 'Asparagus', 'Atomic Tangerine',
       'Auburn', 'Aureolin', 'Aurometalsaurus', 'Avocado', 'Azure',
       'Azure Mist/Web', 'Baby Blue', 'Baby Blue Eyes', 'Baby Pink',
       'Ball Blue', 'Banana Mania', 'Banana Yellow', 'Barn Red',
       'Battleship Grey', 'Bazaar', 'Beau Blue', 'Beaver', 'Beige',
       'Big Dip O’Ruby', 'Bisque', 'Bistre', 'Bittersweet',
       'Bittersweet Shimmer', 'Black', 'Black Bean',
       'Black Leather Jacket', 'Black Olive', 'Blanched Almond',
       'Blast-Off Bronze', 'Bleu De France', 'Blizzard Blue', 'Blond',
       'Blue', 'Blue Bell', 'Blue (Crayola)', 'Blue Gray', 'Blue-Green',
       'Blue (Munsell)', 'Blue (Ncs)', 'Blue (Pigment)', 'Blue (Ryb)',
       'Blue Sapphire', 'Blue-Violet', 'Blush', 'Bole', 'Bondi Blue',
       'Bone', 'Boston University Red', 'Bottle Green', 'Boysenberry',
       'Brandeis Blue', 'Brass', 'Brick Red', 'Bright Cerulean',
       'Bright Green', 'Bright Lavender', 'Bright Maroon', 'Bright Pink',
       'Bright Turquoise', 'Bright Ube', 'Brilliant Lavender',
       'Brilliant Rose', 'Brink Pink', 'British Racing Green', 'Bronze',
       'Brown (Traditional)', 'Brown (Web)', 'Bubble Gum', 'Bubbles',
       'Buff', 'Bulgarian Rose', 'Burgundy', 'Burlywood', 'Burnt Orange',
       'Burnt Sienna', 'Burnt Umber', 'Byzantine', 'Byzantium', 'Cadet',
       'Cadet Blue', 'Cadet Grey', 'Cadmium Green', 'Cadmium Orange',
       'Cadmium Red', 'Cadmium Yellow', 'Café Au Lait', 'Café Noir',
       'Cal Poly Green', 'Cambridge Blue', 'Camel', 'Cameo Pink',
       'Camouflage Green', 'Canary Yellow', 'Candy Apple Red',
       'Candy Pink', 'Capri', 'Caput Mortuum', 'Cardinal',
       'Caribbean Green', 'Carmine', 'Carmine (M&P)', 'Carmine Pink',
       'Carmine Red', 'Carnation Pink', 'Carnelian', 'Carolina Blue',
       'Carrot Orange', 'Catalina Blue', 'Ceil', 'Celadon',
       'Celadon Blue', 'Celadon Green', 'Celeste (Colour)',
       'Celestial Blue', 'Cerise', 'Cerise Pink', 'Cerulean',
       'Cerulean Blue', 'Cerulean Frost', 'Cg Blue', 'Cg Red',
       'Chamoisee', 'Champagne', 'Charcoal', 'Charm Pink',
       'Chartreuse (Traditional)', 'Chartreuse (Web)', 'Cherry',
       'Cherry Blossom Pink', 'Chestnut', 'China Pink', 'China Rose',
       'Chinese Red', 'Chocolate (Traditional)', 'Chocolate (Web)',
       'Chrome Yellow', 'Cinereous', 'Cinnabar', 'Cinnamon', 'Citrine',
       'Classic Rose', 'Cobalt', 'Cocoa Brown', 'Coffee', 'Columbia Blue',
       'Congo Pink', 'Cool Black', 'Cool Grey', 'Copper',
       'Copper (Crayola)', 'Copper Penny', 'Copper Red', 'Copper Rose',
       'Coquelicot', 'Coral', 'Coral Pink', 'Coral Red', 'Cordovan',
       'Corn', 'Cornell Red', 'Cornflower Blue', 'Cornsilk',
       'Cosmic Latte', 'Cotton Candy', 'Cream', 'Crimson',
       'Crimson Glory', 'Cyan', 'Cyan (Process)', 'Daffodil', 'Dandelion',
       'Dark Blue', 'Dark Brown', 'Dark Byzantium',
       'Dark Candy Apple Red', 'Dark Cerulean', 'Dark Chestnut',
       'Dark Coral', 'Dark Cyan', 'Dark Electric Blue', 'Dark Goldenrod',
       'Dark Gray', 'Dark Green', 'Dark Imperial Blue',
       'Dark Jungle Green', 'Dark Khaki', 'Dark Lava', 'Dark Lavender',
       'Dark Magenta', 'Dark Midnight Blue', 'Dark Olive Green',
       'Dark Orange', 'Dark Orchid', 'Dark Pastel Blue',
       'Dark Pastel Green', 'Dark Pastel Purple', 'Dark Pastel Red',
       'Dark Pink', 'Dark Powder Blue', 'Dark Raspberry', 'Dark Red',
       'Dark Salmon', 'Dark Scarlet', 'Dark Sea Green', 'Dark Sienna',
       'Dark Slate Blue', 'Dark Slate Gray', 'Dark Spring Green',
       'Dark Tan', 'Dark Tangerine', 'Dark Taupe', 'Dark Terra Cotta',
       'Dark Turquoise', 'Dark Violet', 'Dark Yellow', 'Dartmouth Green',
       "Davy'S Grey", 'Debian Red', 'Deep Carmine', 'Deep Carmine Pink',
       'Deep Carrot Orange', 'Deep Cerise', 'Deep Champagne',
       'Deep Chestnut', 'Deep Coffee', 'Deep Fuchsia',
       'Deep Jungle Green', 'Deep Lilac', 'Deep Magenta', 'Deep Peach',
       'Deep Pink', 'Deep Ruby', 'Deep Saffron', 'Deep Sky Blue',
       'Deep Tuscan Red', 'Denim', 'Desert', 'Desert Sand', 'Dim Gray',
       'Dodger Blue', 'Dogwood Rose', 'Dollar Bill', 'Drab', 'Duke Blue',
       'Earth Yellow', 'Ebony', 'Ecru', 'Eggplant', 'Eggshell',
       'Egyptian Blue', 'Electric Blue', 'Electric Crimson',
       'Electric Cyan', 'Electric Green', 'Electric Indigo',
       'Electric Lavender', 'Electric Lime', 'Electric Purple',
       'Electric Ultramarine', 'Electric Violet', 'Electric Yellow',
       'Emerald', 'English Lavender', 'Eton Blue', 'Fallow', 'Falu Red',
       'Fandango', 'Fashion Fuchsia', 'Fawn', 'Feldgrau', 'Fern Green',
       'Ferrari Red', 'Field Drab', 'Fire Engine Red', 'Firebrick',
       'Flame', 'Flamingo Pink', 'Flavescent', 'Flax', 'Floral White',
       'Fluorescent Orange', 'Fluorescent Pink', 'Fluorescent Yellow',
       'Folly', 'Forest Green (Traditional)', 'Forest Green (Web)',
       'French Beige', 'French Blue', 'French Lilac', 'French Lime',
       'French Raspberry', 'French Rose', 'Fuchsia', 'Fuchsia (Crayola)',
       'Fuchsia Pink', 'Fuchsia Rose', 'Fulvous', 'Fuzzy Wuzzy',
       'Gainsboro', 'Gamboge', 'Ghost White', 'Ginger', 'Glaucous',
       'Glitter', 'Gold (Metallic)', 'Gold (Web) (Golden)',
       'Golden Brown', 'Golden Poppy', 'Golden Yellow', 'Goldenrod',
       'Granny Smith Apple', 'Gray', 'Gray-Asparagus',
       'Gray (Html/Css Gray)', 'Gray (X11 Gray)',
       'Green (Color Wheel) (X11 Green)', 'Green (Crayola)',
       'Green (Html/Css Green)', 'Green (Munsell)', 'Green (Ncs)',
       'Green (Pigment)', 'Green (Ryb)', 'Green-Yellow', 'Grullo',
       'Guppie Green', 'Halayà úBe', 'Han Blue', 'Han Purple',
       'Hansa Yellow', 'Harlequin', 'Harvard Crimson', 'Harvest Gold',
       'Heart Gold', 'Heliotrope', 'Hollywood Cerise', 'Honeydew',
       'Honolulu Blue', "Hooker'S Green", 'Hot Magenta', 'Hot Pink',
       'Hunter Green', 'Iceberg', 'Icterine', 'Imperial Blue', 'Inchworm',
       'India Green', 'Indian Red', 'Indian Yellow', 'Indigo',
       'Indigo (Dye)', 'Indigo (Web)', 'International Klein Blue',
       'International Orange (Aerospace)',
       'International Orange (Engineering)',
       'International Orange (Golden Gate Bridge)', 'Iris', 'Isabelline',
       'Islamic Green', 'Ivory', 'Jade', 'Jasmine', 'Jasper',
       'Jazzberry Jam', 'Jet', 'Jonquil', 'June Bud', 'Jungle Green',
       'Kelly Green', 'Kenyan Copper', 'Khaki (Html/Css) (Khaki)',
       'Khaki (X11) (Light Khaki)', 'Ku Crimson', 'La Salle Green',
       'Languid Lavender', 'Lapis Lazuli', 'Laser Lemon', 'Laurel Green',
       'Lava', 'Lavender Blue', 'Lavender Blush', 'Lavender (Floral)',
       'Lavender Gray', 'Lavender Indigo', 'Lavender Magenta',
       'Lavender Mist', 'Lavender Pink', 'Lavender Purple',
       'Lavender Rose', 'Lavender (Web)', 'Lawn Green', 'Lemon',
       'Lemon Chiffon', 'Lemon Lime', 'Licorice', 'Light Apricot',
       'Light Blue', 'Light Brown', 'Light Carmine Pink', 'Light Coral',
       'Light Cornflower Blue', 'Light Crimson', 'Light Cyan',
       'Light Fuchsia Pink', 'Light Goldenrod Yellow', 'Light Gray',
       'Light Green', 'Light Khaki', 'Light Pastel Purple', 'Light Pink',
       'Light Red Ochre', 'Light Salmon', 'Light Salmon Pink',
       'Light Sea Green', 'Light Sky Blue', 'Light Slate Gray',
       'Light Taupe', 'Light Thulian Pink', 'Light Yellow', 'Lilac',
       'Lime (Color Wheel)', 'Lime Green', 'Lime (Web) (X11 Green)',
       'Limerick', 'Lincoln Green', 'Linen', 'Lion', 'Little Boy Blue',
       'Liver', 'Lust', 'Magenta', 'Magenta (Dye)', 'Magenta (Process)',
       'Magic Mint', 'Magnolia', 'Mahogany', 'Maize', 'Majorelle Blue',
       'Malachite', 'Manatee', 'Mango Tango', 'Mantis', 'Mardi Gras',
       'Maroon (Crayola)', 'Maroon (Html/Css)', 'Maroon (X11)', 'Mauve',
       'Mauve Taupe', 'Mauvelous', 'Maya Blue', 'Meat Brown',
       'Medium Aquamarine', 'Medium Blue', 'Medium Candy Apple Red',
       'Medium Carmine', 'Medium Champagne', 'Medium Electric Blue',
       'Medium Jungle Green', 'Medium Lavender Magenta', 'Medium Orchid',
       'Medium Persian Blue', 'Medium Purple', 'Medium Red-Violet',
       'Medium Ruby', 'Medium Sea Green', 'Medium Slate Blue',
       'Medium Spring Bud', 'Medium Spring Green', 'Medium Taupe',
       'Medium Turquoise', 'Medium Tuscan Red', 'Medium Vermilion',
       'Medium Violet-Red', 'Mellow Apricot', 'Mellow Yellow', 'Melon',
       'Midnight Blue', 'Midnight Green (Eagle Green)', 'Mikado Yellow',
       'Mint', 'Mint Cream', 'Mint Green', 'Misty Rose', 'Moccasin',
       'Mode Beige', 'Moonstone Blue', 'Mordant Red 19', 'Moss Green',
       'Mountain Meadow', 'Mountbatten Pink', 'Msu Green', 'Mulberry',
       'Mustard', 'Myrtle', 'Nadeshiko Pink', 'Napier Green',
       'Naples Yellow', 'Navajo White', 'Navy Blue', 'Neon Carrot',
       'Neon Fuchsia', 'Neon Green', 'New York Pink', 'Non-Photo Blue',
       'North Texas Green', 'Ocean Boat Blue', 'Ochre', 'Office Green',
       'Old Gold', 'Old Lace', 'Old Lavender', 'Old Mauve', 'Old Rose',
       'Olive', 'Olive Drab #7', 'Olive Drab (Web) (Olive Drab #3)',
       'Olivine', 'Onyx', 'Opera Mauve', 'Orange (Color Wheel)',
       'Orange Peel', 'Orange-Red', 'Orange (Ryb)', 'Orange (Web Color)',
       'Orchid', 'Otter Brown', 'Ou Crimson Red', 'Outer Space',
       'Outrageous Orange', 'Oxford Blue', 'Pakistan Green',
       'Palatinate Blue', 'Palatinate Purple', 'Pale Aqua', 'Pale Blue',
       'Pale Brown', 'Pale Carmine', 'Pale Cerulean', 'Pale Chestnut',
       'Pale Copper', 'Pale Cornflower Blue', 'Pale Gold',
       'Pale Goldenrod', 'Pale Green', 'Pale Lavender', 'Pale Magenta',
       'Pale Pink', 'Pale Plum', 'Pale Red-Violet', 'Pale Robin Egg Blue',
       'Pale Silver', 'Pale Spring Bud', 'Pale Taupe', 'Pale Violet-Red',
       'Pansy Purple', 'Papaya Whip', 'Paris Green', 'Pastel Blue',
       'Pastel Brown', 'Pastel Gray', 'Pastel Green', 'Pastel Magenta',
       'Pastel Orange', 'Pastel Pink', 'Pastel Purple', 'Pastel Red',
       'Pastel Violet', 'Pastel Yellow', 'Patriarch', "Payne'S Grey",
       'Peach', 'Peach (Crayola)', 'Peach-Orange', 'Peach Puff',
       'Peach-Yellow', 'Pear', 'Pearl', 'Pearl Aqua', 'Pearly Purple',
       'Peridot', 'Periwinkle', 'Persian Blue', 'Persian Green',
       'Persian Indigo', 'Persian Orange', 'Persian Pink', 'Persian Plum',
       'Persian Red', 'Persian Rose', 'Persimmon', 'Peru', 'Phlox',
       'Phthalo Blue', 'Phthalo Green', 'Piggy Pink', 'Pine Green',
       'Pink', 'Pink Lace', 'Pink-Orange', 'Pink Pearl', 'Pink Sherbet',
       'Pistachio', 'Platinum', 'Plum (Traditional)', 'Plum (Web)',
       'Portland Orange', 'Powder Blue (Web)', 'Princeton Orange',
       'Prune', 'Prussian Blue', 'Psychedelic Purple', 'Puce', 'Pumpkin',
       'Purple Heart', 'Purple (Html/Css)', 'Purple Mountain Majesty',
       'Purple (Munsell)', 'Purple Pizzazz', 'Purple Taupe',
       'Purple (X11)', 'Quartz', 'Rackley', 'Radical Red', 'Rajah',
       'Raspberry', 'Raspberry Glace', 'Raspberry Pink', 'Raspberry Rose',
       'Raw Umber', 'Razzle Dazzle Rose', 'Razzmatazz', 'Red',
       'Red-Brown', 'Red Devil', 'Red (Munsell)', 'Red (Ncs)',
       'Red-Orange', 'Red (Pigment)', 'Red (Ryb)', 'Red-Violet',
       'Redwood', 'Regalia', 'Resolution Blue', 'Rich Black',
       'Rich Brilliant Lavender', 'Rich Carmine', 'Rich Electric Blue',
       'Rich Lavender', 'Rich Lilac', 'Rich Maroon', 'Rifle Green',
       'Robin Egg Blue', 'Rose', 'Rose Bonbon', 'Rose Ebony', 'Rose Gold',
       'Rose Madder', 'Rose Pink', 'Rose Quartz', 'Rose Taupe',
       'Rose Vale', 'Rosewood', 'Rosso Corsa', 'Rosy Brown',
       'Royal Azure', 'Royal Blue (Traditional)', 'Royal Blue (Web)',
       'Royal Fuchsia', 'Royal Purple', 'Royal Yellow', 'Rubine Red',
       'Ruby', 'Ruby Red', 'Ruddy', 'Ruddy Brown', 'Ruddy Pink', 'Rufous',
       'Russet', 'Rust', 'Rusty Red', 'Sacramento State Green',
       'Saddle Brown', 'Safety Orange (Blaze Orange)', 'Saffron',
       'Salmon', 'Salmon Pink', 'Sand', 'Sand Dune', 'Sandstorm',
       'Sandy Brown', 'Sandy Taupe', 'Sangria', 'Sap Green', 'Sapphire',
       'Sapphire Blue', 'Satin Sheen Gold', 'Scarlet',
       'Scarlet (Crayola)', 'School Bus Yellow', "Screamin' Green",
       'Sea Blue', 'Sea Green', 'Seal Brown', 'Seashell',
       'Selective Yellow', 'Sepia', 'Shadow', 'Shamrock Green',
       'Shocking Pink', 'Shocking Pink (Crayola)', 'Sienna', 'Silver',
       'Sinopia', 'Skobeloff', 'Sky Blue', 'Sky Magenta', 'Slate Blue',
       'Slate Gray', 'Smalt (Dark Powder Blue)', 'Smokey Topaz',
       'Smoky Black', 'Snow', 'Spiro Disco Ball', 'Spring Bud',
       'Spring Green', "St. Patrick'S Blue", 'Steel Blue',
       'Stil De Grain Yellow', 'Stizza', 'Stormcloud', 'Straw', 'Sunglow',
       'Sunset', 'Tan', 'Tangelo', 'Tangerine', 'Tangerine Yellow',
       'Tango Pink', 'Taupe', 'Taupe Gray', 'Tea Green',
       'Tea Rose (Orange)', 'Tea Rose (Rose)', 'Teal', 'Teal Blue',
       'Teal Green', 'Telemagenta', 'Tenné (Tawny)', 'Terra Cotta',
       'Thistle', 'Thulian Pink', 'Tickle Me Pink', 'Tiffany Blue',
       "Tiger'S Eye", 'Timberwolf', 'Titanium Yellow', 'Tomato',
       'Toolbox', 'Topaz', 'Tractor Red', 'Trolley Grey',
       'Tropical Rain Forest', 'True Blue', 'Tufts Blue', 'Tumbleweed',
       'Turkish Rose', 'Turquoise', 'Turquoise Blue', 'Turquoise Green',
       'Tuscan Red', 'Twilight Lavender', 'Tyrian Purple', 'Ua Blue',
       'Ua Red', 'Ube', 'Ucla Blue', 'Ucla Gold', 'Ufo Green',
       'Ultra Pink', 'Ultramarine', 'Ultramarine Blue', 'Umber',
       'Unbleached Silk', 'United Nations Blue',
       'University Of California Gold', 'Unmellow Yellow',
       'Up Forest Green', 'Up Maroon', 'Upsdell Red', 'Urobilin',
       'Usafa Blue', 'Usc Cardinal', 'Usc Gold', 'Utah Crimson',
       'Vanilla', 'Vegas Gold', 'Venetian Red', 'Verdigris',
       'Vermilion (Cinnabar)', 'Vermilion (Plochere)', 'Veronica',
       'Violet', 'Violet-Blue', 'Violet (Color Wheel)', 'Violet (Ryb)',
       'Violet (Web)', 'Viridian', 'Vivid Auburn', 'Vivid Burgundy',
       'Vivid Cerise', 'Vivid Tangerine', 'Vivid Violet', 'Warm Black',
       'Waterspout', 'Wenge', 'Wheat', 'White', 'White Smoke',
       'Wild Blue Yonder', 'Wild Strawberry', 'Wild Watermelon', 'Wine',
       'Wine Dregs', 'Wisteria', 'Wood Brown', 'Xanadu', 'Yale Blue',
       'Yellow', 'Yellow-Green', 'Yellow (Munsell)', 'Yellow (Ncs)',
       'Yellow Orange', 'Yellow (Process)', 'Yellow (Ryb)', 'Zaffre',
       'Zinnwaldite Brown'], dtype=object)

In [97]:
df['color'].value_counts()

maya_blue             1
dark_spring_green     1
spring_green          1
violet_color_wheel    1
olivine               1
                     ..
topaz                 1
amaranth              1
baby_blue             1
azure                 1
rose                  1
Name: color, Length: 865, dtype: int64

In [99]:
df['color'].isnull()

0      False
1      False
2      False
3      False
4      False
       ...
860    False
861    False
862    False
863    False
864    False
Name: color, Length: 865, dtype: bool

In [110]:
filter=df['color'].isnull()
df[filter]

Empty DataFrame
Columns: [color, color_name, hex, R, B, G]
Index: []

In [101]:
df2=df.fillna(100)

In [102]:
print(df2)

                    color             color_name      hex    R    B    G
0      air_force_blue_raf   Air Force Blue (Raf)  #5d8aa8   93  138  168
1     air_force_blue_usaf  Air Force Blue (Usaf)  #00308f    0   48  143
2    air_superiority_blue   Air Superiority Blue  #72a0c1  114  160  193
3         alabama_crimson        Alabama Crimson  #a32638  163   38   56
4              alice_blue             Alice Blue  #f0f8ff  240  248  255
..                    ...                    ...      ...  ...  ...  ...
860         yellow_orange          Yellow Orange  #ffae42  255  174   66
861        yellow_process       Yellow (Process)  #ffef00  255  239    0
862            yellow_ryb           Yellow (Ryb)  #fefe33  254  254   51
863                zaffre                 Zaffre  #0014a8    0   20  168
864     zinnwaldite_brown      Zinnwaldite Brown  #2c1608   44   22    8

[865 rows x 6 columns]

In [103]:
df.mean()

R    158.598844
B    124.683237
G    119.087861
dtype: float64

In [104]:
df3=df.fillna(df.mean())

In [105]:
print(df3)

                    color             color_name      hex    R    B    G
0      air_force_blue_raf   Air Force Blue (Raf)  #5d8aa8   93  138  168
1     air_force_blue_usaf  Air Force Blue (Usaf)  #00308f    0   48  143
2    air_superiority_blue   Air Superiority Blue  #72a0c1  114  160  193
3         alabama_crimson        Alabama Crimson  #a32638  163   38   56
4              alice_blue             Alice Blue  #f0f8ff  240  248  255
..                    ...                    ...      ...  ...  ...  ...
860         yellow_orange          Yellow Orange  #ffae42  255  174   66
861        yellow_process       Yellow (Process)  #ffef00  255  239    0
862            yellow_ryb           Yellow (Ryb)  #fefe33  254  254   51
863                zaffre                 Zaffre  #0014a8    0   20  168
864     zinnwaldite_brown      Zinnwaldite Brown  #2c1608   44   22    8

[865 rows x 6 columns]

In [106]:
df4=df.dropna()

In [107]:
print(df4)

                    color             color_name      hex    R    B    G
0      air_force_blue_raf   Air Force Blue (Raf)  #5d8aa8   93  138  168
1     air_force_blue_usaf  Air Force Blue (Usaf)  #00308f    0   48  143
2    air_superiority_blue   Air Superiority Blue  #72a0c1  114  160  193
3         alabama_crimson        Alabama Crimson  #a32638  163   38   56
4              alice_blue             Alice Blue  #f0f8ff  240  248  255
..                    ...                    ...      ...  ...  ...  ...
860         yellow_orange          Yellow Orange  #ffae42  255  174   66
861        yellow_process       Yellow (Process)  #ffef00  255  239    0
862            yellow_ryb           Yellow (Ryb)  #fefe33  254  254   51
863                zaffre                 Zaffre  #0014a8    0   20  168
864     zinnwaldite_brown      Zinnwaldite Brown  #2c1608   44   22    8

[865 rows x 6 columns]